<div class="text-center">
    <ul class="pagination"
        style="cursor: pointer;float: right;margin-top: -100px;margin-bottom: -50px;">
        <li class="page-item" [ngClass]="{disabled:current_page === 1}">
            <a class="page-link" (click)="fireOnPageChanged(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:current_page === 1}">
            <a class="page-link"
               (click)="fireOnPageChanged(current_page - 1)">Previous</a>
        </li>
        <li class="page-item" *repeat="shown_page_count;startIndex:start_page_index;let page = index" [ngClass]="{active:current_page === page}">
            <a class="page-link" (click)="fireOnPageChanged(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:current_page === total_page_count}">
            <a class="page-link" (click)="fireOnPageChanged(current_page + 1)">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:current_page === total_page_count}">
            <a class="page-link" (click)="fireOnPageChanged(total_page_count)">Last</a>
        </li>
    </ul>
</div>
