<section class="tables">
    <div class="row">
        <div class="col-lg-12">
            <b class="table-title" *ngIf="title">{{title}}</b>
            <multi-select-box *ngIf="table_tag"
                              [source]="getFilterableColumns()"
                              background-color="#f0fffc"
                              (selected-listChange)="setCheckboxFilter($event)"
                              [selected-list]="checkbox_filter_checked_list"
                              value-selector="title"
                              fa-icon="fa-filter"></multi-select-box>
            <quick-button *ngIf="table_share_link" size="xxs-circle" color-class="blue-wb"
                          [clipboard]="table_share_link" tooltip="URL Paylaş"
                          popover-content="Kopyalandı" [popover-dismiss-time]="1500"
                          fa-icon="fa-share-alt"></quick-button>
            <b class="table-title" [ngClass]="title ? 'table-information': 'table-information margin-bottom-10'"
               *ngIf="total_count">
                Sayfa: <span>{{current_page}}</span> &nbsp; | &nbsp;
                Toplam: <span>{{total_count}}</span>
            </b>
            <div *ngIf="title" class="border-bottom margin-top-5"></div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered d-lg-table no-margin-bottom">
                        <thead>
                        <tr>
                            <th *ngIf="show_index_number" class="table-columns">
                                <span>#</span>
                            </th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="checkColumnVisibilityStatus(column);" class="table-columns"
                                    [ngClass]="(column.table_column_class) ? column.table_column_class: ''">
                                    <b *ngIf="!column.sort_by"
                                       [textContent]="column.short_title ? column.short_title:column.title"></b>
                                    <a *ngIf="column.sort_by"
                                       (click)="changeSortType(column);">
                                        <b class="underline"
                                           [textContent]="column.short_title ? column.short_title:column.title"></b>
                                        <i *ngIf="column.is_column_sort_icon_descending !== undefined && sort_by === column.sort_by"
                                           [ngClass]="(column.is_column_sort_icon_descending) ? 'fa fa-arrow-circle-up margin-left-5 text-success': 'fa fa-arrow-circle-down margin-left-5 text-danger'"></i>
                                    </a>
                                    <info *ngIf="column.short_title" [value]="column.title"></info>
                                </th>
                            </ng-container>
                        </tr>
                        <tr *ngIf="renderFilter">
                            <th *ngIf="show_index_number"></th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="checkColumnVisibilityStatus(column);">
                                    <ng-template *ngIf="column.filter_template"
                                                 [ngTemplateOutlet]="column.filter_template"
                                                 [ngOutletContext]="{title:column.title}"></ng-template>
                                </th>
                            </ng-container>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let content of source;let index = index;">
                            <td *ngIf="show_index_number" class="table-rows">
                                <a [routerLink]="content.id" class="text-black underline">
                                    <strong>{{index_list[index]}}</strong>
                                </a>
                            </td>
                            <ng-container *ngFor="let column of columns">
                                <td *ngIf="checkColumnVisibilityStatus(column);" class="table-rows">
                                    <span *ngIf="!column.cell_template && column.property"
                                          [textContent]="content[column.property]"></span>
                                    <ng-template *ngIf="column.cell_template"
                                                 [ngTemplateOutlet]="column.cell_template"
                                                 [ngOutletContext]="{item:content, column:column, value:content[column.property], index:index_list[index]}"></ng-template>
                                </td>
                            </ng-container>
                        </tr>
                        </tbody>
                    </table>
                    <smart-loader [hidden]="!is_request_loading"></smart-loader>
                    <div *ngIf="source">
                        <p *ngIf="source.length === 0" class="align-center margin-top-10">Gösterilecek veri
                            bulunamadı.</p>
                    </div>
                </div>
                <quick-select (item-selected)="changePerPage($event)" ngDefaultControl *ngIf="total_count > 10"
                              ngClass="per-page-select-options" [selected-item]="selected_per_page_number">
                    <quick-select-item value="10" name="10"></quick-select-item>
                    <quick-select-item value="25" name="25"></quick-select-item>
                    <quick-select-item value="50" name="50" *ngIf="total_count > 25"></quick-select-item>
                    <quick-select-item value="100" name="100" *ngIf="total_count > 50"></quick-select-item>
                </quick-select>
            </div>
        </div>
    </div>
    <div *ngIf="renderPagination">
        <div class="row">
            <div class="col-lg-12">
                <pagination (onPageChanged)="changePage($event)"
                            [total-item-count]="total_count"
                            [item-count-per-page]="per_page"
                            [current-page]="current_page">
                </pagination>
            </div>
        </div>
    </div>
</section>
