<div class="item padding-20 align-center">
    <div class="col-lg-12">
        <a class="feed-profile" *ngIf="header_image">
            <img class="card-header-image margin-left-10" src={{header_image}}
                 [ngStyle]="{'width': header_image_width}"
                 *ngIf="!has_no_border_radius">
            <img class="card-header-image" src={{header_image}}
                 [ngStyle]="{'width': header_image_width}"
                 *ngIf="has_no_border_radius">
        </a>
        <h3 *ngIf="!header_image && (header_title !== undefined || fa_icon !== undefined)">
            <i *ngIf="fa_icon" class="fa {{fa_icon}} fa-2x"
               [ngClass]="(name || header_title) ? 'margin-bottom-20': ''"></i>
            <br>{{header_title}}
        </h3>
        <p class="text-capitalize card-text-blue" *ngIf="name && name !== 'true'">{{name}}</p>
        <hr *ngIf="header_image">
        <ng-content></ng-content>
    </div>
</div>
