<label [ngStyle]="{'color': color,'background': background_color}" *ngIf="href === undefined" class="badge-label">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</label>

<a *ngIf="href !== undefined && href !== ''" [routerLink]="href">
    <a [ngStyle]="{'color': color,'background-color': background_color}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </a>
</a>

<ng-template #content>
    <ng-content></ng-content>
    <p class="api-value" *ngIf="sub_content !== '' && sub_content !== undefined">
        ( {{sub_content}} )
    </p>
</ng-template>
