<select (change)="changed()" (ngModelChange)="onChange($event)" [disabled]="is_disabled" [(ngModel)]="selected_item"
        *ngIf="!source" class="form-control">
    <option>Hepsi</option>
    <option *ngFor="let item of item_list" [ngValue]="item">{{item.name}}</option>
</select>

<select (change)="changed()" (ngModelChange)="onChange($event)" [disabled]="is_disabled" [(ngModel)]="selected_item"
        *ngIf="source" class="form-control">
    <option class="active"></option>
    <option *ngFor="let item of source" [ngValue]="item">{{item[name_selector]}}</option>
</select>
