<select (change)="changed()" [disabled]="is_disabled" [(ngModel)]="selected_item"
        *ngIf="!source" class="form-control">
    <option [value]="selected_item" *ngIf="default_value">{{default_value}}</option>
    <ng-container *ngFor="let item of item_list">
        <option *ngIf="selected_item && (item.value === selected_item.value)" [ngValue]="selected_item" selected>{{item.name}}</option>
        <option *ngIf="selected_item && (item.value !== selected_item.value)" [ngValue]="item">{{item.name}}</option>
        <option *ngIf="!selected_item" [ngValue]="item">{{item.name}}</option>
    </ng-container>
</select>

<select (change)="changed()" [disabled]="is_disabled" [(ngModel)]="selected_item"
        *ngIf="source" class="form-control">
    <option [value]="selected_item" *ngIf="default_value">{{default_value}}</option>
    <ng-container *ngFor="let item of source">
        <option *ngIf="selected_item && (item[value_selector] === selected_item[value_selector])" [ngValue]="selected_item" selected>{{item[name_selector]}}</option>
        <option *ngIf="selected_item && (item[value_selector] !== selected_item[value_selector])" [ngValue]="item">{{item[name_selector]}}</option>
        <option *ngIf="!selected_item" [ngValue]="item">{{item[name_selector]}}</option>
    </ng-container>
</select>
